td a {
    font-size: 16px;
    color: $black;
    text-decoration: none;
}
th span{
    font-size: 20px;
    color: $primary;
}
.share-button{
    display: inline-block;
    color: $white;
}
.fab{
    color: $white;
}
.env{
    color: $white;
}
.vertical-middle{
    vertical-align: middle;
}